extends layout.pug 

block number1 
    if error_name
        p Please enter a name 
    
    if error_desc 
        p Please enter a decription
    article.add-book
        form.form(action="/add" method="POST")
            figure
                img#image(src="/public/" + book.imageLink alt=book.title)
                input#imageLink(type="text" name="imageLink" value="/public/" + book.imageLink) 
                h3 #{ book.title }
                h4 #{ book.author }
            div.add-cont
                label(for='title') Title: 
                input#title(name='title' type='text' value=book.title readonly)
                label(for='name') Name:
                input#name(autofocus name='name', type='text', placeholder='Enter your name' required)
                label(for='rating') Rating:
                span           
                    .stars 
                        div#rate-num 
                            p 0
                        div(class='star' onmouseenter="stars(1)")
                            i(class='fa-regular fa-star')
                        div(class='star' onmouseenter="stars(2)")
                            i(class='fa-regular fa-star')
                        div(class='star' onmousecenter="stars(3)")
                            i(class='fa-regular fa-star')
                        div(class='star' onmouseenter="stars(4)")
                            i(class='fa-regular fa-star')
                        div(class='star' onmouseenter="stars(5)")
                            i(class='fa-regular fa-star')
                    input#hidden(name='rating', type=text, value="")
                  
                label(for='description') Description: 
                textarea#description(name='description' rows="4" col="100" placeholder="Enter the description" required)
                button(class="btn btn-dark") Save
        script(src="../public/javascripts/script.js")


            
                        

            
            
           

