extends layout.pug 

block number1  
    
    if deleted 
        p.alert Deleted
    if added 
        p.alert Added
    if updated 
        p.alert Updated

    div.a-container 
        a(class='add-search btn btn-dark' href='/search') Add a review

    article.reviews 
        if reviews.length
            each review in reviews 
                .item
                    div.book-image
                        figure
                            img(src=review.imageLink alt=review.title)
                        h1 #{ review.title }
                        h2 #{ review.year }
                        
                    div
                        span #{ review.rating }
                        i(class='fa-solid fa-star')
                        
                    div.description
                        h3 Short description
                        blockquote(class="blockquote text-center")
                            p #{ review.description }
                            footer(class="blockquote-footer") #{ review.name }
                    
                     
                    a(class='btn update' href=`/${review.id}/update`) 
                        span.text-gradient 
                            i(class='fa-solid fa-pen')
                    
                    a(class='btn delete' href=`/${review.id}/delete`) 
                        span.text-gradient 
                            i(class='fa-solid fa-xmark')

                    
        else
            p.msg No reviews for now

    footer
        p.copyright &#169;This webpage was created for Web Technology coursework by student 
            span.id 00013768
            
        