extends layout.pug 

block number1  
    
    if deleted 
        p.alert-msg Deleted
    if added 
        p.alert-msg Added
    if updated 
        p.alert-msg Updated

    div.a-container 
        a(class='add-search btn btn-dark' href='/search') Add a review

    article.reviews 
        if reviews.length
            each review in reviews 
                .item
                    div.book-image
                        figure
                            img(src=review.imageLink alt=review.title)
                        
                    div(class="info home-rev")   
                        h1 #{ review.title }
                        div
                            span #{ review.rating }
                            i(class='fa-solid fa-star st')
                            i(class='fa-solid fa-star')
                            i(class='fa-solid fa-star')
                            i(class='fa-solid fa-star')
                            i(class='fa-solid fa-star')
                            
                        div.description
                            h3 Short description
                            blockquote(class="blockquote text-center")
                                p 
                                    span.quote &ldquo; 
                                    span.de #{ review.description }
                                    span.quote &rdquo;
                                footer(class="blockquote-footer") #{ review.name }
                    
                    div.controls 
                        a(class='btn update' href=`/${review.id}/update`) 
                            span.text-gradient 
                                i(class='fa-solid fa-pen')
                        
                        a(class='btn delete' href=`/${review.id}/delete`) 
                            span.text-gradient 
                            i(class='fa-solid fa-xmark')

                    
        else
            p.msg No reviews for now

    footer
        p.copyright &#169;This web application was created to fulfill WebTechnology module’s requirements and does not represent an actual company or service. Created by student 
            span.id 00013768
            
        