extends layout.pug 

block number1 
    if error
        p.err Please enter some text to search
    
    if n == 0
        p.alert-msg No items match the search 
    else if n == 1
        p.search-msg Only one such book
    else if searched 
        p.search-msg We found #{n} books
    
    if error_name 
        p.error Name should not be empty 
    if error_desc 
        p.error Description should not be empty
        
    form.form(action="/search" method="POST")
        input.input(type="text" placeholder="Search for reviews" name="search")
        button(class="btn btn-dark") Search


    
    article.search-books
        if books.length
            each book in books
                div.search-book
                    figure.image-book
                        img#photo(src="/public/" + book.imageLink alt=book.title)
                    div.info
                        h3#title #{ book.title }, #{ book.year }
                        h4#author by #{ book.author }
                        a(class="btn btn-dark" href=`/${book.id}/add`) Write review
        else 
            p.msg No books match the search