extends layout.pug 

block number1 
    if error
        p Please enter some text to search
    
        
    form.form(action="/search" method="POST")
        input.input(type="text", placeholder="Search for reviews" name="search")
        button(class="btn btn-dark") Search


    
    article.search-books
        if books.length
            each book in books
                div.search-book
                    figure
                        img#photo(src="/public/" + book.imageLink alt=book.title)
                    div
                        h1#title #{ book.title }
                        h2#author #{ book.author }
                        h3#year #{ book.year }
                        a.btn-add(href=`/${book.id}/add`) Add
        else 
            p No books match the search